th, td {
    padding: 5px;
}
td span  {
    font-size:90%;
    font-style: italic;
    color: red;
}
.error {
    color: red;
    font-style: italic;
}
table{
    margin: 0 auto;
}
legend{
    text-align: center;
}
fieldset{
    border: 1px solid rgb(0,130,60);
    width: 400px;
    margin:auto;
}