<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration form</title>
    <style>
        th, td {
            padding: 5px;
        }
        td span  {
            font-size:80%;
            font-style: italic;
            color: red;
        }
        .error {
            color: red;
            font-style: italic;
        }
        table{
            margin: 0 auto;
        }
        legend{
            text-align: center;
        }
        fieldset{
            border: 1px solid rgb(0,130,60);
            width: 1000px;
            margin:auto;
        }
        input{
            height: auto;
            font-size: large;
        }
    </style>
</head>
<body>
<!-- Include menu.html -->
<th:block th:include="/menu"/>
    <fieldset>
        <legend><h2>Registration form</h2></legend>
        <div th:if="${errorMessage != null}" th:utext="${errorMessage}" class="error">...</div>
        <form th:action="@{/register}" th:object="${appUserForm}" method="POST">
            <table>
                <tr>
                    <td>User Name</td>
                    <td><label><input type="text" th:field="*{userName}" /></label></td>
                    <td><span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..</span></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><label><input type="password" th:field="*{password}" /></label></td>
                    <td><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span></td>
                </tr>
                <tr>
                    <td>Confirm</td>
                    <td><label><input type="password" th:field="*{confirmPassword}" /></label></td>
                    <td><span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">..</span></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><label><input type="text" th:field="*{email}" /></label></td>
                    <td><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span></td>
                </tr>
                <tr>
                    <td>First Name</td><td><label><input type="text" th:field="*{firstName}" /></label></td>
                    <td><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">..</span></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><label><input type="text" th:field="*{lastName}" /></label></td>
                    <td><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">..</span></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <label>
                            <select th:field="*{gender}">
                                <option value="" selected hidden> -- </option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </label>
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>
                        <label>
                            <select th:field="*{countryCode}">
                                <option value="" selected hidden> -- </option>
                                <option th:each="country : ${countries}"
                                        th:value="${country.countryCode}"
                                        th:utext="${country.countryName}" ></option>
                            </select>
                        </label>
                    <td><span th:if="${#fields.hasErrors('countryCode')}" th:errors="*{countryCode}">..</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Submit"/>
                        <input type="reset" value="Clear"/>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </form>
    </fieldset>
</body>
</html>